<html>
<head>
	<title>Travel Expenses</title>
</head>
<body>
	<div class="row" id="container">
		<div class="small-10 large-11 columns">
					<h1 id="welcome">Make It Rain!</h1>
				<div id ="newUser" class=" small-6 large-3 columns">
					<h3> Log In </h3>
					<%= form_tag "/sessions" do %>
						<h6>Username</h6>
						<h7 class="info"> <%= text_field_tag :username %> <br> </h7>
						<h6>Password</h6>
						<h7 class="info"> <%= password_field_tag :password %> <br> </h7> 
						 <%= button_to "Log In", {:controller => "sessions", :action => "create"} %>   <br>
					<% end %>
				</div>
				<div id="newSession" class="small-6 large-3  columns">
					<h3> New User </h3>
					<%= form_tag "/api/users" do %>
						<% if @user.errors.any? %> 
				                <% @user.errors.full_messages.each do |msg| %>
				                    <h5 class="animated fadeInLeft"> <%= msg %></h5>
				                <% end %> 
				            <% end %>
						<h6>Username</h6>
						<h7 class="info"> <%= text_field_tag :username %> <br> </h7>
						<h6>Password</h6>
						<h7 class="info"> <%= password_field_tag :password %> <br> </h7> 
						 <%= button_to "Join", {:controller => "/api/users", :action => "create"} %> 
					<% end %>
				</div>
			</div>
	</div>




</body>
</html>